spring:
  datasource:
      url: jdbc:postgresql://localhost:5432/postgres
      username: postgres
      password: 123
  jpa:
      database: POSTGRESQL
      hibernate:
          ddl-auto: update
      show-sql: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB


# Production
---
spring:
  config:
    activate:
      on-profile: production
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:5432/imagelite

